<p>
  <%= comment.commenter %>
  :
  <%= comment.body %>
</p>


<% if current_user.try(:admin?) %>
  <p>
    <%= link_to 'Удалить комментарий', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Вы уверены?' } %>
  </p>
<% end %>